* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.card {
    background-color: white;
    text-align: center;
    box-shadow: 0 15px 13px 0 rgb(0 0 0 / 5%);
    padding: 16px 16px;
    border-radius: 15px;
}

.imagem {
   height: 260px;
   width: 260px;
   border-radius: 15px;
   cursor: pointer;
}

.title {
    font-size: 14px;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 16px;
    width: 280px;
}

.description {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    width: 280px;
    padding-bottom: 30px;
}
